body {
  background-color: #afe5ff;
  font-family: 'Raleway', sans-serif;
}
h1{
  text-align: center;
  font-size: 100px;
}
.subtitle{
  text-align: center;
  font-size: 50px;
}
.petition1{
width: 400px;
  height: 500px;
  padding: 10px;
  border: 5px solid gray;
  margin-left: 20px; 
  margin-right: 20px; 
  margin: 20px;
  text-align: center;
  border-radius: 30px;
  background-color: #ffffff;
  display: block;
  }
.petitionHdr {
 font-size: 50px;
  color: black;
}
.googlein{
  background-color: #ffffff;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  border-radius: 20px;
  color: #000000;
}
.googleout{
  background-color: #ffffff;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  border-radius: 20px;
  color: #000000;
  margin-right: 700px;
}
.create {
   background-color: #ffffff;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  border-radius: 20px;
  color: #000000;
}
.buttons{
  display:flex;
  justify-content: center;
}
.container{
  display:flex;
  justify-content:flex-start;
  width: 1410px;
  overflow-y: auto;
  flex-wrap: wrap;
}
.outBar{
  background-color: lightgray;
  border-radius: 25px;
  width: 200px;
  height: 20px;
  text-align: center;
}
.inBar{
  background-color: blue;
  height: 20px;
  border-radius: 25px;
  margin: auto;
}
.pButton {
  border-radius: 25px;
  padding: 15px 25px;
  font-size: 25px;
  margin: auto;
}


